body {
    font-family: 'Times New Roman', Times, serif;
}

* {
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    /* height: 650px; */
    border: 1px solid black;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #294e79;
    position: relative;
    border-bottom: 1px solid black;
}

.logo {
    width: 6%;
    position: absolute;
    top: 15px;
    left: 0px;
    color: white;
    /* border-right: 1px solid black; */
}

.branch {
    width: 34%;
    position: absolute;
    left: 60px;
    top: 18px;
    /* border-right: 1px solid black; */
}

.up {
    width: 60%;
    height: 48px;
    position: absolute;
    padding: 10px;
    top: 0px;
    right: 0px;
    text-align: end;
    /* border-bottom: 1px solid black; */
}

.down {
    text-align: end;
    width: 60%;
    height: 50px;
    position: absolute;
    top: 49px;
    right: 0px;
    padding: 10px 10px;
    /* border-left: 1px solid white;
    border-bottom: 1px solid white; */
}

.down ul {
    list-style-type: none;
}

.down li {
    display: inline-block;
    padding: 10px;
    /* width: 100px; */
    /* height: 25px; */
    background-color: #84baf7;
}

.down a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
}

.section {
    width: 98%;
    height: 380px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* border: 1px solid red; */
}

.left {
    width: 45%;
    margin-left: 0px;
    float: left;
    /* border: 1px solid red; */
}

#a {
    width: 72%;
    margin-left: 0px;
    padding-bottom: 10px;
    border-bottom: 1px dashed black;
}

#b {
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 3px 3px 5px green;
    color: orangered;
}

#group1,
#group3 {
    display: inline-block;
    padding-right: 10px;
    /* border: 1px solid red; */
}

#group {
    display: inline-block;
    padding-left: 10px;
    /* border: 1px solid red; */
}

.middle {
    width: 25%;
    margin-left: 13px;
    float: left;
    /* border: 1px solid black; */
}

#c {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed black;
}

#d,
#e,
#f {
    padding-top: 10px;
}

.right {
    width: 26%;
    margin-left: 20px;
    margin-top: -30px;
    float: left;
    padding: 10px;
    background: lightgray;
    /* border: 1px solid black; */
}

#g {
    padding-bottom: 10px;
    border-bottom: 1px dashed black;
}

#h {
    padding-top: 10px;
}

#i {
    padding-top: 10px;
}

#k {
    padding-top: 10px;
    float: right;
}

.footer {
    width: 100%;
    background-color: #294e79;
    color: white;
    padding: 5px;
    border-top: 1px solid black;
}

span {
    color: #84baf7;
}