* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container {
    width: 1000px;
    height: 650px;
    background: pink;
    border: 1px solid black;
    margin-left: 270px;
    margin-top: 50px;
}

header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
    background-color: grey;
}

#logo {
    width: 99px;
    height: 100px;
    border-right: 1px solid black;
    float: left;
}

img {
    width: 99px;
    height: 100px;
}

#branch {
    width: 279px;
    height: 100px;
    border-right: 1px solid black;
    float: left;
}

#up {
    width: 620px;
    height: 50px;
    /* border-bottom: 1px solid black; */
    float: left;
}

#down {
    width: 620px;
    height: 50px;
    /* border-bottom: 1px solid black; */
    float: left;
}

#menu {
    width: 620px;
    float: left;
}

#menu ul {
    list-style-type: none;
}

#menu li {
    color: white;
    display: inline-block;
    width: 120px;
    height: 50px;
    line-height: 50px;
}

#menu a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
}

#menu a:hover {
    background: pink;
    color: black;
}

form {
    width: 599px;
    height: 500px;
    border-right: 1px solid black;
    float: left;
}

section {
    width: 399px;
    height: 500px;
    float: left;
}

footer {
    width: 100%;
    height: 48px;
    border-top: 1px solid black;
    clear: both;
}