body {
    font-family: 'Times New Roman', Times, serif;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 1000px;
    /* height: 700px; */
    /* background: white; */
    border: 2px solid black;
    margin-top: 20px;
}

#header {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    background-color: brown;
    color: rgb(134, 125, 0);
    text-shadow: -3px -3px 5px white;
    padding-top: 5px;
    padding-left: 10px;
}

#menu {
    width: 100%;
    border-bottom: 1px solid black;
}

#menu ul {
    list-style-type: none;
}

#menu li {
    display: inline-block;
    color: white;
    width: 100px;
    height: 25px;
    line-height: 25px;
}

#menu a {
    text-decoration: none;
    color: orange;
    display: block;
    text-align: center;
}

#menu a:hover {
    background: rgb(79, 194, 233);
    color: black;
}

.submenu li {
    display: none;
}

#menu li {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    background-color: rgb(79, 194, 233);
}

#menu li:hover .submenu {
    display: block;
}

.submenu li {
    margin-left: 0;
}

#banner {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
}

img {
    width: 100%;
    height: 100px;
}

#form {
    width: 698px;
    /* height: 100px; */
    border-right: 1px solid grey;
    float: left;
    margin-top: 30px;
}

#a {
    margin-left: 10px;
    margin-bottom: 10px;
    color: rgb(134, 125, 0);
}

#b {
    margin-left: 40px;
    margin-bottom: 40px;
    color: rgb(134, 125, 0);
}

table {
    margin-left: 40px;
}

input {
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

button {
    background-color: rgb(134, 125, 0);
    color: white;
    padding: 5px 10px 5px 10px;
    margin-top: 40px;
}

#section {
    width: 298px;
    height: 100px;
    float: left;
    margin-top: 30px;
}

#section-up {
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(252, 222, 166);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#c {
    padding-left: 20px;
    padding-bottom: 20px;
}

#d {
    padding-left: 60px;
    color: rgb(255, 145, 1);
    list-style: square;
}

#section-down {
    margin-left: 40px;
    margin-right: 40px;
    /* border: 1px solid black; */
}

#e {
    width: 90px;
    height: 60px;
    float: left;
}

#f {
    margin-top: 10px;
    margin-bottom: 10px;
}

span {
    text-align: justify;
}

#footer {
    width: 100%;
    /* height: 50px; */
    border-top: 1px solid black;
    clear: both;
    text-align: center;
    padding: 10px;
}