body {
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#khung {
    width: 1000px;
    height: 800px;
    background: #ffd800;
    border: 1px solid #808080;
    margin: auto;
    padding: 5px;
}

header {
    width: 100%;
    height: 150px;
    background: #b6ff00;
    border: 1px solid #808080;
    text-align: center;
}

section {
    width: 100%;
    height: 485px;
    background: #4cff00;
    border: 1px solid #808080;
    text-align: center;
}

footer {
    width: 100%;
    height: 150px;
    background: #b6ff00;
    border: 1px solid #808080;
    text-align: center;
}