body {
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#khung {
    width: 1000px;
    height: 800px;
    background: #b6ff00;
    border: 1px solid #000000;
    margin: 15px;
    margin-left: 250px;
}

header {
    width: 100%;
    height: 100px;
    background: #b6ff00;
    border-bottom: 1px solid #808080;
}

nav {
    width: 100%;
    height: 50px;
    background: #b6ff00;
    border-bottom: 1px solid #808080;
}

section {
    width: 100%;
    height: 500px;
    background: #b6ff00;
    border-bottom: 1px solid #808080;
    padding: 5px;
}

footer {
    width: 100%;
    height: 147px;
    background: #b6ff00;
}

#art {
    width: 100%;
    height: 450px;
    border: 1px solid #808080;
    background: #ffffff;
    padding: 5px;
}
